@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&subset=latin,latin-ext);

body {
    margin: 0;
    background: #e6e4e4;
}

#footer {
    position:absolute;
    text-align: right;
    bottom: 0;
}

#header {
    width: 100%;
    text-align: center;
}

#header-title {
    height: 70px;
    color: #595959;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: 2px;
    font-size: 70px;
    font-weight: bold;
}

#header-title:visited{
    color: #595959;
}

#no-js-warning {
    width: 100%;
    background-color: #ff3333;
    color: #f6f6f3;
    text-align: center;
    font-size: 20px;
}

#no-js-warning-container {
    display: inline-block;
    text-align: left;
}

.wrapper {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.notebook {
    width: 40%;
    display: inline-block;
    margin-top: 20px;
    box-sizing: border-box;
    text-align: left;
    word-wrap: break-word;
    color: #777;
    background: #f6f6f3;
    box-shadow: 0px 3px 15px hsla(0,0%,0%,.08);
    position: relative;
    border: 1px solid #dfdfd3;
    border-radius: 6px 24px 24px 6px;
    background-image:   -webkit-radial-gradient(#d6d5d6 30%, transparent 20%),
                        -webkit-radial-gradient(#cfcfc3 38%, transparent 24%),
                        -webkit-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                               hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-image:   -moz-radial-gradient(#d6d5d6 30%, transparent 20%),
                        -moz-radial-gradient(#cfcfc3 38%, transparent 24%),
                        -moz-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                               hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-image:   radial-gradient(#d6d5d6 30%, transparent 20%),
                        radial-gradient(#cfcfc3 38%, transparent 24%),
                        linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                               hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-position: 4px 1px, 4px 0px, 50% 0px;
    background-repeat: repeat-y,  repeat-y, repeat;
    background-size: 50px 50px, 50px 50px, 50px 50px;
    padding: 48px 10px 48px 80px;
}

.notebook:after {
    border-left: 2px solid hsla(0,95%,50%,.1);
    border-right: 2px solid hsla(0,95%,50%,.1);
    bottom: 0;
    content: '';
    left: 60px;
    position: absolute;
    top: 0;
    width: 3px;
}


.question {
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    height: 50px;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
}

.new-line{
    height: 50px;
}


.choice {
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    height: 50px;
    font-size: 40px;
    line-height: 50px;
}


input[type=text] {
    height: 50px;
    margin-bottom: 0px;
    background: transparent;
    box-sizing: border-box;
    width: 100%;
    border: none;
    color: #777;
}


input[type=text]:focus {
    outline: none;
    border: 1px solid #777;
}


.question-options {
    height: 50px;
    width: 100%;
}


.selector {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    outline: none;
    border: 2px solid #777;
    background: #f6f6f3;
    color: #4d4d4d;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    font-size: 24px;
}


#question-comment {
    display: none;
}

button, input[type=submit] {
    margin-top: 5px;
    display: inline-block;
    outline: none;
    vertical-align: top;
    background-color: #cecaca;
    cursor: pointer;
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #777;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


button:hover:not(:active),
input[type=submit]:hover:not(:active) {
    background-color: #777;
    color: #f6f6f3;
}

button:active,
input[type=submit]:active{
    background: #4d4d4d;
    color: #f6f6f3;
    border: 2px solid #4d4d4d;
}

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}


#popup-wrapper {
    display: none;
    width: 100%;
    position: absolute;
    overflow: visible;
    z-index: 9000;
    top: 0%;
    left: 0%;
    text-align: center;
    margin-top: 200px;
}


#popup-container {
    max-width: 600px;
    display: inline-block;
    margin-top: 40px;
    box-sizing: border-box;
    text-align: left;
    word-wrap: break-word;
    color: #777;
    background: #f6f6f3;
    box-shadow: 0px 3px 15px hsla(0,0%,0%,.08);
    position: relative;
    border: 1px solid #dfdfd3;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 20px 20px 20px;
}

#popup-content {
    display: block;
    word-wrap: break-word;
    margin-top: 10px;
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    font-size: 30px;
    line-height: 40px;
}

#popup-ok-button-container {
    display: none;
    margin-top: 15px;
    text-align: center;
}

#popup-ok-button {
    width: 100px;
}

#poll-url-container {
    margin-top: 10px;
    text-align: center;
    display: none;
}

#poll-url {
    cursor: pointer;
    padding: 2px 18px 2px 18px;
    color: #B20000;
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    font-size: 30px;
    line-height: 50px;
}

#poll-url:hover:not(:active) {
    border: 1px solid #777;
    padding: 1px 19px 1px 19px;
}

#poll-url:active {
    border: 2px solid #777;
    padding: 0px 20px 0 20px;
}

#hide-button-container {
    display: none;
    text-align: right;
}

#hide-button {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    font-size: 20px;
    line-height: 20px;
}


/* For mobile */
@media only screen 
    and (-webkit-device-pixel-ratio:3) {

    body {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    .notebook {
        width: 100%;
        min-width: 0px;
        box-sizing: border-box;
        margin-top: 10px;
        margin-left: 0px;
        border-radius: 6px 14px 14px 6px;
        background-size: 30px 30px, 30px 30px, 30px 30px;
        padding: 28px 10px 48px 80px;
    }

    .question {
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
    }

    .new-line{
        height: 30px;
    }

    .choice {
        height: 30px;
        font-size: 20px;
        line-height: 30px;
    }

    input[type=text] {
        height: 30px;
    }


    .question-options {
        height: 30px;
        width: 100%;
    }

    .selector {
        margin-top: 4px;
        height: 25px;
        outline: none;
        border: 1px solid #777;
        font-size: 16px;

    }


    button, input[type=submit] {
        height: 22px;
        margin-top: 5px;
        border: 1px solid #777;
        font-size: 18px;
        line-height: 18px;
    }


    #popup-wrapper {
        margin-top: 150px;
    }


    #popup-container {
        padding: 3px 12px 12px 12px;
    }

    #popup-content {
        font-size: 20px;
        line-height: 30px;
    }

    #popup-ok-button {
        width: 80px;
    }

    #hide-button {
        font-size: 10px;
        line-height: 10px;
    }

    #poll-url {
        font-size: 18px;
        line-height: 30px;
    }
}

/* Portrait mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: portrait) {

    #popup-wrapper{
        margin-top: 150px;
    }

    #popup-container {
        width: 100%;
    }
}

/* Landscape mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: landscape) {

    #popup-wrapper{
        margin-top: 50px;
    }
}