@import "../commons";
@import "../popups";

.notebook {
    @include rem(width, 600px);
    @include rem(padding, ($default-size - 2px) 10px 48px 80px);

    input[type=text] {
        @include rem(height, $default-size);
        margin-bottom: 0;
        @include rem(padding-left, 5px);
        @include rem(padding-right, 5px);
        background: transparent;
        box-sizing: border-box;
        width: 100%;
        border: none;
        @include rem(font-size, $default-font-size/1.2);
        @include rem(line-height, $default-size);
        @include rem(letter-spacing, $default-letter-spacing);
        font-family: $main-font;
        color: $main-color;
    }

    #question {
        font-weight: bold;
    }


    input[type=text]:focus {
        outline: none;
        @include rem(border, 1px solid $main-color);
    }


    .question-options {
        @include rem(height, $default-size);
        width: 100%;
    }


    select {
        width: 100%;
        @include rem(height, ($default-size - $default-size/5));
        @include rem(margin-top, $default-size/10);
        outline: none;
        @include rem(border, 2px solid $main-color);
        background: $main-color-bg;
        color: #4d4d4d;
        @include rem(-webkit-border-radius, 5px);
        @include rem(border-radius, 5px);
        font-family: $main-font;
        @include rem(letter-spacing, $default-letter-spacing);
        @include rem(font-size, $default-font-size/2);
    }


    #question-comment {
        display: none;
    }

    .g-recaptcha {
        display: none;        
        @include rem(margin-top, 11px);
        @include rem(margin-bottom, 11px);
    }

    input[type=submit] {
        @include rem(margin-top, 5px);
        display: inline-block;
        outline: none;
        vertical-align: top;
        background-color: #cecaca;
        cursor: pointer;
        font-family: $main-font;
        @include rem(letter-spacing, $default-letter-spacing);
        @include rem(font-size, $default-font-size/2);
        @include rem(line-height, $default-size/1.5);
        @include rem(border, 2px solid $main-color);
        @include rem(-webkit-border-radius, 5px);
        @include rem(border-radius, 5px);
    }


    input[type=submit]:hover:not(:active) {
        background-color: $main-color;
        color: $main-color-bg;
    }

    input[type=submit]:active{
        background: #4d4d4d;
        color: $main-color-bg;
        @include rem(border, 2px solid #4d4d4d);
    }
}


/* For mobile */
@import "../commons-media";
@import "../popups-media";

@media only screen 
    and (-webkit-device-pixel-ratio:3) {

    .notebook {
        @include rem(padding, ($mini-size - 2px) 10px 48px 80px);

        input[type=text] {
            @include rem(height, $mini-size);
            @include rem(font-size, $mini-font-size/1.2);
            @include rem(line-height, $mini-size);
        }

        .question-options {
            @include rem(height, $mini-size);
            width: 100%;
        }

        select {
            @include rem(margin-top, $mini-size/10);
            @include rem(height, ($mini-size - $mini-size/5));
            outline: none;
            @include rem(border, 1px solid $main-color);
            @include rem(font-size, 16px);

        }

        input[type=submit] {
            @include rem(height, $mini-size - ($mini-size/4));
            @include rem(margin-top, $mini-size/10);
            @include rem(border, 1px solid $main-color);
            @include rem(font-size, $mini-font-size/2);
            @include rem(line-height, $mini-size/2);
        }
    }
}

/* Portrait mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: portrait) {
}

/* Landscape mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: landscape) {
}