@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&subset=latin,latin-ext);

body {
    margin: 0;
    background: #e6e4e4;
}

#footer {
    position:relative;
    width: 100%;
    text-align: right;
}


#footer img{
    top: 100px;
}

#header {
    width: 100%;
    text-align: center;
}

#header-title {
    color: #595959;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: 2px;
    font-size: 70px;
    font-weight: bold;
}

#header-title:visited{
    color: #595959;
}

#no-js-warning {
    width: 100%;
    background-color: #ff3333;
    color: #f6f6f3;
    text-align: center;
    font-size: 20px;
}

#no-js-warning-container {
    display: inline-block;
    text-align: left;
}

.wrapper {
    width: 100%;
    text-align: center;
}

.notebook {
    /*max-width: 45%;*/
    width: 45%;
    /*min-width: 400px;*/
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    word-wrap: break-word;
    letter-spacing: 1px;
    color: #777;
    background: #f6f6f3;
    box-shadow: 0px 3px 15px hsla(0,0%,0%,.08);
    position: relative;
    border: 1px solid #dfdfd3;
    border-radius: 6px 24px 24px 6px;
    background-image:   -webkit-radial-gradient(#d6d5d6 30%, transparent 20%),
                        -webkit-radial-gradient(#cfcfc3 38%, transparent 24%),
                        -webkit-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                               hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-image:   -moz-radial-gradient(#d6d5d6 30%, transparent 20%),
                        -moz-radial-gradient(#cfcfc3 38%, transparent 24%),
                        -moz-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                               hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-image:   radial-gradient(#d6d5d6 30%, transparent 20%),
                        radial-gradient(#cfcfc3 38%, transparent 24%),
                        linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                               hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-position: 4px 1px, 4px 0px, 50% 0px;
    background-repeat: repeat-y,  repeat-y, repeat;
    background-size: 50px 50px, 50px 50px, 50px 50px;
    padding: 55px 10px 48px 80px;
}


.notebook:after {
    border-left: 2px solid hsla(0,95%,50%,.1);
    border-right: 2px solid hsla(0,95%,50%,.1);
    bottom: 0;
    content: '';
    left: 60px;
    position: absolute;
    top: 0;
    width: 3px;
}

#chart-data-container {
    display: none;
}

.notebook .question {
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
}

.notebook .new-line{
    height: 50px;
}


.notebook .choice {
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    font-size: 40px;
    line-height: 50px;
}

.notebook .meter-container {
    height: 50px;
    width: 100%;
}

.meter-container .meter {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 15px;
    margin-top: 10px;
    border: 4px solid #777;
    border-radius: 8px;
}

.meter .bar {
    height: 15px;
    width: 10%;
    border-radius: 4px;
    background-color: #99ff99;
}

.meter .votes {
    width: 100%;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    color: #333333;
    text-align: center;
    font-family: arial;
    font-size: 12px;
    line-height: 15px;
}


#chart-title {
    text-align: center;
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
}


#chart-wrapper{
    margin-top: 20px;
    position: relative;
    /*padding-bottom: 100%;*/
    padding-bottom: 350px;
    height: 0;
    overflow:hidden;
}

#chart {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width:100%;
    height:100%;
    max-width: 350px;
    max-height: 350px;
}

 /*For mobile */
@media only screen 
    and (-webkit-device-pixel-ratio:3) {

    body {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    .notebook {
        width: 100%;
        display: block;
        max-width: 100%;
        min-width: 0;
        margin-top: 10px;
        margin-left: 0px;
        border-radius: 6px 14px 14px 6px;
        background-size: 30px 30px, 30px 30px, 30px 30px;
        padding: 34px 10px 48px 80px;
    }

    .notebook .question {
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
    }

    .notebook .new-line{
        height: 30px;
    }


    .notebook .choice {
        font-size: 20px;
        line-height: 30px;
    }

    .notebook .meter-container {
        height: 30px;
        width: 100%;
    }

    .meter-container .meter {
        height: 15px;
        width: 80%;
        margin-top: 0;
    }

    .notebook .votes {
        font-size: 15px;
    }

    #chart-title {
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
    }

    #canvas-holder {
        width: 100%;
        height: 100%;
    }

}

/* Portrait mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: portrait) {

    

}

/* Landscape mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: landscape) {

    #chart {
        width: 250px;
        height: 250px;
    }

}