<!DOCTYPE HTML>
{% load static %}
{% load compress %}
<html>

<head>
    <title>Error</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'polls/error/style.scss' %}">
    {% endcompress %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" 
	        	language="Javascript" 
	        	type="text/javascript">
	</script>

    <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write(unescape("%3Cscript src='{% static 'polls/jquery-2.2.0.min.js' %}' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>

    {% compress js %}
    <script src="{% static 'polls/error/error.js' %}" 
	        	language="Javascript" 
	        	type="text/javascript">
    </script>
    {% endcompress js %}

</head>
<body>
	<div id="header">
		<a id="header-title" href="{% url 'polls:index' %}">SimplePoll</a>
	</div>
	<div class="notebook-wrapper">
		<div class="notebook">
			<div class="error-message">
            {% if error == '1' %}
                Chief cool down. <a href="{{ next }}">Try again</a> in a minute.
            {% else %}
                Something went wrong please <a href="{{ next }}">try again!</a>
            {% endif %}
			</div>
		</div>
	</div>
    <div id="footer">
    	<!-- <img src="https://www.djangoproject.com/s/img/badges/djangopowered126x54.gif" /> -->
    </div>
</body>
</html>