<!DOCTYPE HTML>
{% load static %}
{% load compress %}
{% load widget_tweaks %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create a poll</title>
            
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'polls/index/style.scss' %}">
    {% endcompress %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" 
            language="Javascript" 
            type="text/javascript">
    </script>

    <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write(unescape("%3Cscript src='{% static 'polls/jquery-2.2.0.min.js' %}' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=captchaLoaded&render=explicit" async defer></script>
    {% compress js %}
    <script src="{% static 'polls/index/index.js' %}" 
            language="Javascript" 
            type="text/javascript">
    </script>
    {% endcompress %}

</head>
<body>

    <noscript>
        <div id="no-js-warning-wrapper" class="no-js">
            <div id="no-js-warning-container">
                It appears you are not using Javascript. Site functionality is limited. You can only select up to 4 options per poll.
            </div>
        </div>
    </noscript>
    <div id="header">
        <a id="header-title" href="{% url 'polls:index' %}">SimplePoll</a>
    </div>
    <div class="notebook-wrapper">
    <div class="notebook">
        <form id="poll-form" action="{% url 'polls:createpoll' %}" method="post">
            {% csrf_token %}
            <div id="choices-container">
                {% render_field form.question id='question' placeholder='Enter your question...' autocomplete='off' required='required' pattern='.*\S+.*' %}
                <div class="new-line"></div>

                {% render_field form.choices autocomplete='off' placeholder='Enter an option... ' pattern='.*\S+.*' required='required' %}

                {% render_field form.choices autocomplete='off' placeholder='Enter an option... ' required='required' %}
                
                {% render_field form.choices autocomplete='off' placeholder='Enter an option... ' %}

                {% render_field form.choices autocomplete='off' placeholder='Enter an option... ' %}

            </div>
            <div class="question-options">
                {{ form.question_type }}
            </div>
            <div class="question-options">
                {{ form.question_restriction }}
            </div>
            {% if blocked %}
                <input type='hidden' id="blocked" />
            {% endif %}
                <!-- {{ form.captcha }} -->
            <div class="g-recaptcha"></div>
            <input type="Submit" id="submit" value="Create poll"/>
        </form>
    </div>
    </div>
    <div id="popup-wrapper">
        <div id="popup-container">
            <div id="hide-button-container">
                <button id="hide-button">&#10006;</button>
            </div>
            <div id="popup-content"></div>
            <div id="poll-url-container">
                <div id="poll-url" title="Click to redirect!"></div>
            </div>
            <div id="popup-ok-button-container">
                <button id="popup-ok-button">OK</button>
            </div>
        </div>
    </div>
    <div id="fade"></div>
    <div id="footer">
        <!-- <img src="https://www.djangoproject.com/s/img/badges/djangopowered126x54.gif" /> -->
    </div>
</body>
</html>
