<!DOCTYPE HTML>
{% load static %}
{% load compress %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vote for "{{ question.question_text }}"</title>
    
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'polls/poll/style.scss' %}">
    {% endcompress %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" 
	        	language="Javascript" 
	        	type="text/javascript">
	</script>

    <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write(unescape("%3Cscript src='{% static 'polls/jquery-2.2.0.min.js' %}' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
	<script src="https://www.google.com/recaptcha/api.js?onload=captchaLoaded&render=explicit" async defer></script>
    {% compress js %}
    <script src="{% static 'polls/poll/poll.js' %}" 
		        	language="Javascript" 
		        	type="text/javascript">
	</script>
    {% endcompress %}
</head>

<body>
	<noscript>
		<div id="no-js-warning-wrapper" class="no-js">
			<div id="no-js-warning-container">
				It appears you are not using Javascript. Site functionality is limited. To vote please select one (single-choice) or more (multi-choice) options to proceed.
			</div>
		</div>
	</noscript>
	<div id="header">
		<a id="header-title" href="{% url 'polls:index' %}">SimplePoll</a>
	</div>
	<div class="notebook-wrapper">
		<div class="notebook">
			<form id="vote-form" action="{% url 'polls:vote' question.id %}" method="post">
				{% csrf_token %}
			    <div class="question">{{ question.question_text }}</div>
			    <div class="question-type">({{ question.get_question_type_display }})</div>
			    <div class="new-line"></div>
			    {% if question.question_type == question.TYPE_MULTI %}
		        <div class="checkbox">
				    {% for id, val in form.fields.choices.choices %}
				    <div class="entry">
			            <input type="checkbox" name="choices" id="{{ id }}" value="{{ id }}" {% if not can_vote %} disabled {% endif %}/>
			            <label for="{{ id }}">{{ val }}</label>
			            
		            </div>
					{% endfor %}
				</div>
		        {% else %}
		        <div class="radio">
		        	{% for id, val in form.fields.choices.choices %}
				    <div class="entry">
			            <input type="radio" name="choices" id="{{ id }}" value="{{ id }}" {% if not can_vote %} disabled {% endif %}/>
			            <label for="{{ id }}">{{ val }}</label>
			            
		            </div>
					{% endfor %}
				</div>
				{% endif %}
			    {% if not blocked %}
			    	<div class="new-line"></div>
                {% endif %}
                {% if blocked and can_vote %}
                	<input type='hidden' id="blocked" />
            	{% endif %}
            	<div class="g-recaptcha"></div>
			    <div id="submit-div">
					<input {% if not can_vote %} disabled {% endif %} type="Submit" value="Vote"/>
					<div id="space-submit"></div>
					<a id="results-button" value="Results" href="{% url 'polls:results' question.id %}">Results</a>
				</div>
				{% if not can_vote %}
				<div class="message">You have already voted!</div>
				{% endif %}
			</form>
		</div>
	</div>

    <div id="popup-wrapper">
    	<div id="popup-container">
    		<div id="popup-content"></div>
    		<div id="popup-ok-button-container">
    			<button id="popup-ok-button">OK</button>
    		</div>
    	</div>
    </div>
    <div id="fade"></div>
    <div id="footer">
    	<!-- <img src="https://www.djangoproject.com/s/img/badges/djangopowered126x54.gif" /> -->
    </div>
</body>
</html>
