<!DOCTYPE HTML>
{% load static %}
{% load compress %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Poll results</title>
    
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'polls/results/style.scss' %}">
    {% endcompress %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" 
                language="Javascript" 
                type="text/javascript">
    </script>

    <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write(unescape("%3Cscript src='{% static 'polls/jquery-2.2.0.min.js' %}' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>

     <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    {% compress js %}
    <script src="{% static 'polls/results/colors.js' %}" 
          language="Javascript" 
          type="text/javascript">
    </script>

    <script src="{% static 'polls/results/throttledresize.js' %}" 
          language="Javascript" 
          type="text/javascript">
    </script>

    <script src="{% static 'polls/results/results.js' %}" 
          language="Javascript" 
          type="text/javascript">
    </script>
    {% endcompress %}
</head>

<body>
    <noscript>
        <div id="no-js-warning-wrapper" class="no-js">
            <div id="no-js-warning-container">
                It appears you are not using Javascript. Site functionality is limited. You will not be able to see a graph representation for the results.
            </div>
        </div>
    </noscript>

    <div id="header">
        <a id="header-title" href="{% url 'polls:index' %}">SimplePoll</a>
    </div>
    <div class="notebook-wrapper">
        <div id="choices-data-container" class="notebook">
            <div class="question">{{ question.question_text }}</div>
            <div class="new-line"></div>
            {% for choice in question.choice_set.all %}
            <div class='entry'>
                <div class="choice" value="{{ choice.choice_text }}">{{ choice.choice_text }}</div>
                <div class="meter-container">
                    <div class="meter">
                        <div class="bar" style="width: {{ choice.percentage }}%"></div>
                    </div>
                    <div class="votes" value="{{ choice.votes }}">{{ choice.votes }} vote{{ choice.votes|pluralize }} ({{ choice.percentage }}%)</div>
                </div>  
            </div>
            {% endfor %}
        </div>

        <div id="chart-data-container" class="notebook">
            <div id="chart-title"> {{ question.question_text }} (Graph)</div>
            <div id="chart-wrapper">
                <div id="chart"></div>
            </div>
        </div>
    </div>
    <div id="footer">
        <!-- <img src="https://www.djangoproject.com/s/img/badges/djangopowered126x54.gif" /> -->
    </div>
</body>

</html>
