@import "fonts";
@import "colors";
@import "rem";
@import "sizes";

body {
    margin: 0;
    background: $body-color-bg;
}



#header {
    width: 100%;
    text-align: center;

    #header-title {
        color: #595959;
        cursor: pointer;
        text-decoration: none;
        font-family: $main-font;
        @include rem(letter-spacing, 2px);
        @include rem(font-size, 70px);
        font-weight: bold;
    }

    #header-title:visited{
        color: #595959;
    }
}


#no-js-warning-wrapper {
    width: 100%;
    background-color: $no-js-color;
    color: $main-color-bg;
    text-align: center;
    @include rem(font-size, 20px);

    #no-js-warning-container {
        display: inline-block;
        text-align: left;
    }
}

#footer {
    position:fixed;
    width: 100%;
    text-align: right;
    background-color: $body-color-bg;
    // @include rem(top, 100px);
    bottom: 0;
}

.notebook-wrapper {
    width: 100%;
    text-align: center;
}

.notebook {
    /*max-width: 45%;*/
    /*min-width: 400px;*/
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    @include rem(margin-top, 20px);
    @include rem(margin-left, 20px);
    text-align: left;
    word-wrap: break-word;
    // @include rem(letter-spacing, 1px);
    color: $main-color;
    background: $main-color-bg;
    @include rem(box-shadow, 0 3px 15px hsla(0,0%,0%,.08));
    position: relative;
    @include rem(border, 1px solid #dfdfd3);
    @include rem(border-radius, 6px 24px 24px 6px);
    background-image:   -webkit-radial-gradient(#d6d5d6 30%, transparent 20%),
                        -webkit-radial-gradient(#cfcfc3 38%, transparent 24%),
                        -webkit-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                               hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-image:   -moz-radial-gradient(#d6d5d6 30%, transparent 20%),
                        -moz-radial-gradient(#cfcfc3 38%, transparent 24%),
                        -moz-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                               hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-image:   radial-gradient(#d6d5d6 30%, transparent 20%),
                        radial-gradient(#cfcfc3 38%, transparent 24%),
                        linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                               hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    @include rem(background-position, 4px 1px, 4px 0, 50% 0);
    background-repeat: repeat-y,  repeat-y, repeat;
    @include rem(background-size, $default-size $default-size,
                                    $default-size $default-size,
                                    $default-size $default-size);
    @include rem(padding, $default-size 10px 48px 80px);


    .question {
        font-family: $main-font;
        @include rem(letter-spacing, $default-letter-spacing);
        @include rem(font-size, $default-font-size);
        @include rem(line-height, $default-size);
        font-weight: bold;
    }

    .choice {
        font-family: $main-font;
        @include rem(letter-spacing, $default-letter-spacing);
        @include rem(font-size, $default-font-size);
        @include rem(line-height, $default-size);
    }

    .new-line{
        @include rem(height, $default-size);
    }

    &:after {
        @include rem(border-left, 2px solid hsla(0,95%,50%,.1));
        @include rem(border-right, 2px solid hsla(0,95%,50%,.1));
        bottom: 0;
        content: '';
        @include rem(left, 60px);
        position: absolute;
        top: 0;
        @include rem(width, 3px);
    }
}

