@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&subset=latin,latin-ext);

body {
    background: #e6e4e4;
}

#header {
    width: 100%;
    text-align: center;
}

#header-title {
    height: 70px;
    color: #595959;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: 2px;
    font-size: 70px;
    font-weight: bold;
}

#header-title:visited{
    color: #595959;
}

#no-js-warning {
    width: 100%;
    background-color: #ff3333;
    color: #f6f6f3;
    text-align: center;
    font-size: 20px;
}

#no-js-warning-container {
    display: inline-block;
    text-align: left;
}

.notebook-wrapper {
    width: 100%;
    text-align: center;
}

.notebook {
    max-width: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: left;
    word-wrap: break-word;
    letter-spacing: 1px;
    color: #777;
    background: #f6f6f3;
    box-shadow: 0px 3px 15px hsla(0,0%,0%,.08);
    position: relative;
    border: 1px solid #dfdfd3;
    border-radius: 6px 24px 24px 6px;
    background-image:   -webkit-radial-gradient(#d6d5d6 30%, transparent 20%),
                        -webkit-radial-gradient(#cfcfc3 38%, transparent 24%),
                        -webkit-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                               hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-image:   -moz-radial-gradient(#d6d5d6 30%, transparent 20%),
                        -moz-radial-gradient(#cfcfc3 38%, transparent 24%),
                        -moz-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                               hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-image:   radial-gradient(#d6d5d6 30%, transparent 20%),
                        radial-gradient(#cfcfc3 38%, transparent 24%),
                        linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                               hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-position: 4px 1px, 4px 0px, 50% 0px;
    background-repeat: repeat-y,  repeat-y, repeat;
    background-size: 50px 50px, 50px 50px, 50px 50px;
    padding: 55px 10px 48px 80px;
}

.notebook:after {
    border-left: 2px solid hsla(0,95%,50%,.1);
    border-right: 2px solid hsla(0,95%,50%,.1);
    bottom: 0;
    content: '';
    left: 60px;
    position: absolute;
    top: 0;
    width: 3px;
}

.notebook .question {
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
}

.notebook .question-type{
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    font-size: 30px;
    line-height: 50px;
}

.notebook .new-line{
    height: 50px;
}


.notebook label {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    margin-right: 15px;
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    font-size: 40px;
    line-height: 50px;
}

.notebook input[type=radio],
.notebook input[type=checkbox] {
    display: none;
}

.notebook label:before {
    content: "";
    display: inline-block;

    width: 20px;
    height: 20px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    align-vertical: top;
    margin-top: 15px;
    background-color: #cecaca;
}

.notebook .radio label:before {
    border-radius: 3px;
}

.notebook .radio label {
}

.notebook .checkbox label {
}
.checkbox label:before {
    border-radius: 3px;
}

.notebook input[type=radio]:checked + label:before {
    content: "\2713";
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    font-size: 40px;
    color: #777;
    text-align: center;
    line-height: 10px;
}

.notebook input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    font-size: 40px;
    color: #777;
    text-align: center;
    line-height: 10px;
}

#vote-comment {
    display: none;
}

.notebook #submit-div {
    width: 100%;
    height: 50px;
}

button,
#results-button, #results-button:visited,
.notebook input[type=submit] {
    width: 100px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    color: black;
    background-color: #cecaca;
    cursor: pointer;
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    font-size: 20px;
    line-height: 30px;
    border: 2px solid #777;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

button:hover:not(:active),
#results-button:hover:not(:active), 
.notebook input[type=submit]:hover:enabled:not(:active) {
    background-color: #777;
    color: #f6f6f3;
}

button:active,
#results-button:active,
.notebook input[type=submit]:active:enabled{
    background: #4d4d4d;
    color: #f6f6f3;
    border: 2px solid #4d4d4d;
}

#results-button {
    text-align: center;
    text-decoration: none;
    padding: 1px;
}

.notebook input[type=submit]:disabled {
    border: 2px solid #cecaca;
}


#space-submit {
    width: 20px;
    display: inline-block;
}

.notebook .message {
    width: 100%;
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    font-size: 40px;
    line-height: 50px;
}

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}



#popup-wrapper {
    display: none;
    width: 100%;
    position: absolute;
    overflow: visible;
    z-index: 9000;
    top: 0%;
    left: 0%;
    text-align: center;
    margin-top: 200px;
}


#popup-container {
    max-width: 100%;
    display: inline-block;
    margin-top: 40px;
    box-sizing: border-box;
    text-align: left;
    word-wrap: break-word;
    color: #777;
    background: #f6f6f3;
    box-shadow: 0px 3px 15px hsla(0,0%,0%,.08);
    position: relative;
    border: 1px solid #dfdfd3;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 5px 20px 5px;
}

#popup-content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    font-size: 30px;
    line-height: 40px;
}

#popup-ok-button-container {
    margin-top: 20px;
    text-align: center;
}

/*/* For mobile */
@media only screen 
    and (-webkit-device-pixel-ratio:3) {

    body {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
    

    .notebook {
        width: 100%;
        min-width: 0px;
        box-sizing: border-box;
        margin-top: 10px;
        border-radius: 6px 14px 14px 6px;
        background-size: 30px 30px, 30px 30px, 30px 30px;
        padding: 34px 10px 48px 80px;
    }

    .notebook .question {
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
    }

    .notebook .question-type {
        font-size: 20px;
        line-height: 30px;
    }

    .notebook .new-line{
        height: 30px;
    }

    .notebook label {
        padding-left: 25px;
        margin-right: 15px;
        font-size: 20px;
        line-height: 30px;
    }

    .notebook label:before {
        width: 15px;
        height: 15px;
        margin-top: 8px;
    }

    .notebook input[type=radio]:checked + label:before {
        font-size: 25px;
        line-height: 5px;
    }

    .notebook input[type=checkbox]:checked + label:before {
        font-size: 25px;
        line-height: 5px;
    }

    .notebook #submit-div {
        height: 30px;
    }

    button,
    #results-button,
    .notebook input[type=submit] {
        width: 80px;
        height: 22px;
        border: 1px solid #777;
        font-size: 18px;
        line-height: 20px;
    }

    #results-button {
        padding: 0px;
        height: 20px;
    }

    .notebook input[type=submit]:disabled {
        border: 1px solid #cecaca;
    }

    #space-submit {
        width: 20px;
        display: inline-block;
    }

    .notebook .message {
        font-size: 20px;
        line-height: 30px;
    }

    #popup-wrapper {
        margin-top: 150px;
    }

    #popup-content {
        font-size: 20px;
        line-height: 30px;
    }
}

/* Portrait mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: portrait) {

    #popup-wrapper{
        margin-top: 150px;
    }

    #popup-container {
        width: 100%;
    }
}

/* Landscape mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: landscape) {

    #popup-wrapper{
        margin-top: 50px;
    }
}