@import "../commons";
@import "../popups";


.notebook {
    @include rem(min-width,500px);
    max-width: 70%;

    .question-type{
        font-family: $main-font;
        @include rem(letter-spacing, $default-letter-spacing);
        @include rem(font-size, $default-secondary-size);
        @include rem(line-height, $default-size);
    }

    label {
        display: block;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        @include rem(padding-left, 35px);
        font-family: $main-font;
        @include rem(letter-spacing, $default-letter-spacing);
        @include rem(font-size, $default-font-size);
        @include rem(line-height, $default-size);
    }

    input[type=radio],
    input[type=checkbox] {
        display: none;
    }   

    label:before {
        content: "";
        display: inline-block;

        @include rem(width, $default-font-size/2);
        @include rem(height, $default-font-size/2);

        @include rem(margin-right, 10px);
        position: absolute;
        left: 0;
        align-vertical: top;
        @include rem(margin-top, $default-size/3);
        background-color: #cecaca;
    }

    .radio label:before {
        @include rem(border-radius, 3px);
    }

    .radio label {
    }

    .checkbox label {
    }
    
    .checkbox label:before {
        @include rem(border-radius, 3px);
    }

    input[type=radio]:checked + label:before {
        content: "\2713";
        font-family: $main-font;
        @include rem(letter-spacing, $default-letter-spacing);
        @include rem(font-size, $default-font-size);
        color: $main-color;
        text-align: center;
        @include rem(line-height, $default-font-size/4);
    }

    input[type=checkbox]:checked + label:before {
        content: "\2713";
        font-family: $main-font;
        @include rem(letter-spacing, $default-letter-spacing);
        @include rem(font-size, $default-font-size);
        color: $main-color;
        text-align: center;
        @include rem(line-height, $default-font-size/4);
    }

    #vote-comment {
        display: none;
    }

    .g-recaptcha {
        display: none;
        @include rem(margin-top, 11px);
        @include rem(margin-bottom, 11px);
    }

    #submit-div {
        @include rem(height, $default-size);
    }

    #results-button, #results-button:visited,
    input[type=submit] {
        width: 100px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        color: black;
        background-color: #cecaca;
        cursor: pointer;
        font-family: $main-font;
        @include rem(letter-spacing, $default-letter-spacing);
        @include rem(font-size, $default-font-size/2);
        @include rem(border, 2px solid $main-color);
        @include rem(-webkit-border-radius, 5px);
        @include rem(border-radius, 5px);
    }

    #results-button:hover:not(:active), 
    input[type=submit]:hover:enabled:not(:active) {
        background-color: $main-color;
        color: $main-color-bg;
    }

    #results-button:active,
    input[type=submit]:active:enabled{
        background: #4d4d4d;
        color: $main-color-bg;
        @include rem(border, 2px solid #4d4d4d);
    }

    #results-button {
        text-align: center;
        text-decoration: none;
        @include rem(padding, 1px);
    }

    input[type=submit]:disabled {
        @include rem(border, 2px solid #cecaca);
    }


    #space-submit {
        @include rem( width, 20px);
        display: inline-block;
    }

    .message {
        font-family: $main-font;
        @include rem(letter-spacing, $default-letter-spacing);
        @include rem(font-size, $default-font-size);
        @include rem(line-height, $default-size);
    }
}




/* For mobile */
@import "../commons-media";
@import "../popups-media";

@media only screen 
    and (-webkit-device-pixel-ratio:3) {

    .notebook {
        .question-type {
            @include rem(font-size, $mini-secondary-size);
            @include rem(line-height, $mini-size);
        }

        label {
            @include rem(padding-left, 25px);
            @include rem(margin-right, 15px);
            @include rem(font-size, $mini-secondary-size);
            @include rem(line-height, $mini-size);
        }

        label:before {
            @include rem(width, $mini-size/2);
            @include rem(height, $mini-size/2);
            @include rem(margin-top, 8px);
        }


        input[type=radio]:checked + label:before {
            @include rem(font-size, $mini-secondary-size);
            @include rem(line-height, 5px);
        }

        input[type=checkbox]:checked + label:before {
            @include rem(font-size, $mini-secondary-size);
            @include rem(line-height, 5px);
        }

        #submit-div {
            @include rem(height, $mini-size);
        }

        #results-button,
        input[type=submit] {
            @include rem(width, 80px);
            @include rem(border, 1px solid $main-color);
            @include rem(font-size, $mini-font-size/2);
        }

        input[type=submit]:disabled {
            @include rem(border, 1px solid #cecaca);
        }

        #results-button {
            padding: 0;
            @include rem(height, ($mini-size - ($mini-size/6)));
        }

        #space-submit {
            @include rem(width, 20px);
            display: inline-block;
        }

        .message {
            @include rem(font-size, $mini-secondary-size);
            @include rem(line-height, $mini-size);
        }
    }

}

/* Portrait mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: portrait) {
}

/* Landscape mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: landscape) {
}