@import "../commons";

.notebook-wrapper {
    margin-top: 10%;
}

.notebook {
    .error-message {
        font-family: $main-font;
        @include rem(letter-spacing, $default-letter-spacing);
        @include rem(font-size, $default-font-size);
        @include rem(line-height, $default-size);
    }
}


/* For mobile */

@import "../commons-media";

@media only screen 
    and (-webkit-device-pixel-ratio:3) {

    .notebook {
        .error-message { 
            @include rem(font-size, $mini-font-size);
            @include rem(line-height, $mini-size);
        }
    }
}

/* Portrait mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: portrait) {


}

/* Landscape mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: landscape) {


    .notebook-wrapper {
        @include rem(margin-top, 10px);
    }
}