@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&subset=latin,latin-ext);

body {
    margin: 0;
    background: #e6e4e4;
}

#header {
    width: 100%;
    text-align: center;
}

#header-title {
    height: 70px;
    color: #595959;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: 2px;
    font-size: 70px;
    font-weight: bold;
}

#header-title:visited{
    color: #595959;
}

.center-wrapper {
    display: inline-block;
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
}

.notebook {
    display: inline-block;
    word-wrap: break-word;
    box-sizing: border-box;
    margin-top: 20px;
    color: #777;
    background: #f6f6f3;
    box-shadow: 0px 3px 15px hsla(0,0%,0%,.08);
    position: relative;
    border: 1px solid #dfdfd3;
    border-radius: 6px 24px 24px 6px;
    background-image:   -webkit-radial-gradient(#d6d5d6 30%, transparent 20%),
                        -webkit-radial-gradient(#cfcfc3 38%, transparent 24%),
                        -webkit-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                               hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-image:   -moz-radial-gradient(#d6d5d6 30%, transparent 20%),
                        -moz-radial-gradient(#cfcfc3 38%, transparent 24%),
                        -moz-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                               hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-image:   radial-gradient(#d6d5d6 30%, transparent 20%),
                        radial-gradient(#cfcfc3 38%, transparent 24%),
                        linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                               hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-position: 4px 1px, 4px 0px, 50% 0px;
    background-repeat: repeat-y,  repeat-y, repeat;
    background-size: 50px 50px, 50px 50px, 50px 50px;
    padding: 55px 10px 48px 80px;
}

.notebook:after {
    border-left: 2px solid hsla(0,95%,50%,.1);
    border-right: 2px solid hsla(0,95%,50%,.1);
    bottom: 0;
    content: '';
    left: 60px;
    position: absolute;
    top: 0;
    width: 3px;
}

.notebook .error-message {
    font-family: 'Shadows Into Light Two', 'Century Gothic', 'Arial Narrow', sans-serif, serif;
    letter-spacing: -1px;
    font-size: 40px;
    line-height:50px;
}


/* For mobile */
@media only screen 
    and (-webkit-device-pixel-ratio:3) {

    body {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    .center-wrapper {
        width: 100%;
        text-align: center;
    }

    .notebook {
        text-align: left;
        box-sizing: border-box;
        margin-top: 10px;
        margin-left: 0px;
        border-radius: 6px 14px 14px 6px;
        background-size: 30px 30px, 30px 30px, 30px 30px;
        padding: 34px 10px 48px 80px;
    }

    .notebook .error-message { 
        font-size: 20px;
        line-height: 30px;
    }
}

/* Portrait mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: portrait) {

    

}

/* Landscape mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: landscape) {

}